.app {
  background-color: #16141a;
  width: 100%;
  height: 100%;
  color: #fff;
}

/**************HEADER****************/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-title {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.site-title h1 {
  font-size: 1.7rem;
  color: darkgrey;
  font-weight: 600;
}

.site-title ul.list {
  list-style: none;
  display: flex;
  align-items: center;
}

.site-title ul.list li {
  padding: 0.3rem 0.75rem;
}

a {
  text-decoration: none;
  color: #676370;
  transition: all 0.1s;
}

.site-title ul.list li a:hover,
.signin-btn a:hover {
  color: #676370;
  text-decoration: underline;
}

/*************MAIN**************/
.main {
  padding: 4rem 1rem;
  border-bottom: 1px solid #676370;
}

.main h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 1.5rem 0 1rem 0;
}

.main p {
  color: #676370;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.main .btn.browsing {
  background: #ff2d55;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.375rem 1.5rem;
  margin: 2rem 0;
  border: 1px solid #ff2d55;
  transition: all 0.1s;
}

.main .btn.browsing:hover {
  transform: translateY(-4px);
}

/**************SECTION**************/
.section {
  padding: 1rem;
}

.section .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.section .top h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

a.viewAll {
  color: #ff2d55;
}

a.viewAll i {
  margin-left: 0.5rem;
}

.itemLists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  background: #323036;
  margin: 0.5rem;
  cursor: pointer;
  transition: all 0.1s;
}

.card:hover {
  transform: translateY(-4px);
}

.imgContainer {
  height: 220px;
  width: 100%;
}
.imgContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.price {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  text-align: right;
}

.price i {
  margin-right: 0.5rem;
}
.card-btm {
  margin: 1rem 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.card-btm button {
  font-size: 15px;
  line-height: 27px;
  color: #fff;
  text-transform: uppercase;
  padding: 3px 20px;
  border-radius: 4px;
  background-color: rgb(54, 207, 117);
  transition: all 0.1s;
}

.card-btm button:hover {
  color: #fff;
  transform: translateY(-4px);
}

.some-btn i {
  margin: 0 0.3rem;
  font-size: 1.3rem;
}
i {
  transition: all 0.1s;
}
i.fa-heart:hover {
  color: red;
}

i.fa-heart.liked {
  color: red;
}

i.fa-cart-plus:hover {
  color: aquamarine;
}

i.fa-cart-plus.added {
  color: aquamarine;
}

p.col-6.mb-0.text-truncate {
  font-weight: 500;
}

/*******************FOOTER*******************/
footer {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer ul {
  list-style: none;
  display: flex;
}

footer ul li {
  padding: 0.375rem 0.75rem;
}

footer ul li a {
  font-weight: lighter;
  transition: all 0.1s;
}
footer ul li a:hover {
  color: #676370;
  text-decoration: underline;
}

/***************SIGNIN*****************/
.signin .container {
  padding: 1.6rem;
}
.signin .logo {
  height: 180px;
  width: 180px;
  margin: 1rem auto;
  background: #242129;
  border-radius: 100%;
  padding: 3.4rem;
}

.fa-wallet {
  color: rgb(255, 255, 255);
  font-size: 4.5rem;
}

.signin .container h2 {
  font-size: 28px;
  line-height: 34px;
  margin-top: 40px;
  margin-bottom: 25px;
}

.signin .container p {
  padding: 0 38px;
  text-align: center;
  color: #676370;
  font-size: 16px;
  margin: 1rem 0;
}

.metamask {
  color: #ff2d55;
  transition: all 0.1s;
}

.metamask:hover {
  color: #ff2d55;
}

.btn.register {
  background: #ff2d55;
  color: #fff;
  transition: all 0.1s;
  margin: 1rem 0;
}

.btn.register:hover {
  transform: translateY(-4px);
}
